h1 { color: #890596; font-family:fantasy, cursive; font-size: 50px; line-height: 40px; font-weight: bold; margin-bottom: 20px; margin-top: 40px; text-align:center;  }
.recording{
  text-align: center;
  margin-bottom: 20px;
  margin-top:20px;
}
